<div class="charts-container">
  <div class="chart">
    <h2>Pokemons Mais Pesados Por Tipo</h2>
    <ngx-charts-bar-horizontal [view]="view" [results]="data" [gradient]="true" [scheme]="customColorScheme" [xAxis]="true"
      [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisTickFormatting]="formatValue"
      [tooltipDisabled]="false" (tooltipActivate)="onTooltipActivate($event)"
      (tooltipDeactivate)="onTooltipDeactivate($event)" [xAxisLabel]="'Peso em KG'"
      [yAxisLabel]="'Tipo (Pokémon mais pesado)'">
      <ng-template #tooltipTemplate let-model="model" style="height: 2rem !important;">
        {{ model.name }} {{ model.value + ' kg' }}
      </ng-template>
    </ngx-charts-bar-horizontal>
  </div>
  <div class="chart">
    <h2>Pokemons Com Mais Ataques</h2>
    <ngx-charts-pie-chart  [view]="view"  [results]="pieChartData" [scheme]="customColorScheme" [legend]="true" [explodeSlices]="false"
      [labels]="true" [doughnut]="false">
    </ngx-charts-pie-chart>
  </div>
  <div class="chart">
    <h2>Distribuição de Dano dos Ataques por Pokémon e Data</h2>
    <div class="row">
       <div class="column">
         <label for="pokemonSelect">Selecionar Pokémon:</label>
         <select id="pokemonSelect" [(ngModel)]="selectedPokemon" (change)="applyFilters()">
            <option value="" disabled selected>Selecione uma opção</option>
           <option *ngFor="let item of heatmapData" [value]="item.name">{{ item.name }}</option>
         </select>
       </div>
       <div class="column">
         <label for="startDate">Data de início:</label>
         <input type="date" id="startDate" [(ngModel)]="startDate" (change)="applyFilters()">
       </div>
       <div class="column">
         <label for="endDate">Data de fim:</label>
         <input type="date" id="endDate" [(ngModel)]="endDate" (change)="applyFilters()">
       </div>>
       <div class="column">
         <label for="damageRange">Dano mínimo:</label>
         <input type="range" id="damageRange" min="0" max="200" step="1" [(ngModel)]="minDamage"
           (input)="applyFilters()" />
         <span>{{ minDamage }}</span>
       </div>
      <button (click)="resetFilters()">Limpar filtros</button>
    </div>
    <div class="chart-container" #chartContainer>
      <ngx-charts-heat-map  [view]="view" [results]="filteredHeatmapData" [scheme]="customHeatScheme" [xAxis]="true" [yAxis]="true"
        [legend]="true" [animations]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
        [yAxisLabel]="'Data do Ataque'" [xAxisLabel]="'Nome do Pokemon'">
      </ngx-charts-heat-map>
    </div>
  </div>
</div>
